<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Ko hề nịnh 🦆</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="duck">
  <div class="body">
    <div class="head">
      <div class="feathers"></div>
      <div class="bill"></div>
      <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
    </div>
    <div class="wings">
      <div class="wing"></div>
      <div class="wing"></div>
    </div>
  </div>
  <div class="feet">
    <div class="foot"></div>
    <div class="foot"></div>
  </div>
  <div class="water-level"></div>
</div>
<button class="mute mute--active">
  <svg class="mute__icon" viewBox="0 0 24 24">
    <path fill="#ffffff" d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z"></path>
  </svg>
</button>
<!-- partial -->
  <script  src="./script.js"></script>
  
</body>
</html>
